<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/19bf7c17-e771-4627-b300-25190eb33575/resourcegroups/Adastra_MH/providers/Microsoft.Web/sites/web-api-version03</ResourceId>
    <ResourceGroup>Adastra_MH</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://web-api-version03.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>web-api-version03.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>web-api-version03</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$web-api-version03</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="intelligentCredit" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:web-api-version0120180716095033dbserver.database.windows.net,1433;Initial Catalog=web-api-version03;User ID=diogowatson@web-api-version0120180716095033dbserver;Password=Banana2018#" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="web_api_version01.Models.ApplicationDbContext, web-api-version01" MigrationConfiguration="web_api_version01.Migrations.Configuration, web-api-version01" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="intelligentCredit-Web.config Connection String">
      <ParameterValue>Data Source=tcp:web-api-version0120180716095033dbserver.database.windows.net,1433;Initial Catalog=web-api-version03;User ID=diogowatson@web-api-version0120180716095033dbserver;Password=Banana2018#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="intelligentCredit" />
  </ItemGroup>
</Project>